<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1>CASINO OWNER INFO</h1>

    <h2 id="tWins">Wins: </h2>
    <h2 id="tLost">Losses: </h2>
    <h2 id="mMade">Total Money Made: </h2>
    <h2 id="mLost">Total Money Lost: </h2>







    <script src="main.js"></script>
</body>
</html>